
body{
	font-family : Segoe UI;
	margin : 0;
}

html, body{
	height: 100%;
	
}


/*************** CONTENT ************/


.content{	
    margin: 0;
    width: 100%;    
}

.edito, .focuses{	
		border-radius: 2px;
    margin: 0 auto;
    width: 65%;
}

.edito_title, .focus_header {
	color: #000080;
    font-size: 28px;
    font-style: italic;
    padding: 3px 0 0;
}

.focus{ margin-left: 77px;}

.focus_content{
padding-bottom: 10px;
    padding-top: 10px;
	}
	
	.focus_text{
font-size: 14px;	



		}
		.content_right, .content_left{
display: inline-block;	
width: 48%;				
			}
			
		.content_right{
margin-left: 220px;
	
			}
		
		.clearfix{
clear:both;			
			}

.focus_title { font-size: 26px; color : #b7a600; font-weight: bold; width: 640px;}

.focus_postdate{
	font-size: 14px;	
	}

.focus_reference{  
  clear: left;
    margin-left: 17px;
    max-width: 500px;
}

.focus_reference a {
	font-size: 21px;
	color:#000080;
	text-decoration: none;
	cursor: pointer;
	}

.edito_body{
	 padding: 10px 0 0;
}

.focus_image_right{
float: right;	
	}

.focus_image_left{
float: left;
    margin-right: 10px;
    margin-left: 17px;
	}
	
	.focus_right{ margin-right: 15px;}
	
	.subcontent_right{  display: inline-block; width:44%; margin-top:50px; vertical-align: top;}
	
	.subcontent_left{ display: inline-block; vertical-align: top; margin-top: 50px; width:35%; }
	
.focus_inner{
position: relative;	
	}
.inter_div{
	overflow: hidden;
	
	/*background-color : #B7A600;*/
}



.focus_impair{ background-color : #fff7a6; }

.focus_header_title div {width:70px; margin: 0 auto;  color: #000080; font-size: 28px; font-style: italic; }

.focus_header_title {
 border-bottom: 2px solid #b7a600;	
	}

.content_search{
	padding : 10px;	
}

.content_search_input{	
		margin: 0 auto;
    	width: 43%;
}

#searchInput{
	font-size : 21px;
	display: inline-block;	
	width:500px;
	padding:5px;
	margin-bottom:5px;
}

#searchInput:focus {
	border : 2px solid #B7A600;
}

.look{
	background-image: url("/assets/loupe.png");
    background-repeat: no-repeat;
    background-size: auto 33px;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    vertical-align: middle;
    width: 40px;
}

.content_search_result{	
 
    	width: 96%;
 		margin: 0 auto;
}

.content_search_result_started{
	
	box-shadow: 15px 13px 19px #888888;
    height: inherit;
    margin-bottom: 30px;}

#resultsContainer{
}

.loading_result{
	position: absolute; 
	top: 36%; 
	left: 45%;
display : none;
}

.expand {
	cursor: pointer;
    margin-left: -13px;
    margin-top: -13px;
    position: fixed;
}

.content_middle{
	background-color: #fff7a6;
    margin-top: -9px;
    padding-bottom: 10px;
    padding-top: 10px;
	}


/********* FOOTER *****************/

.basicfooter{
	font-size: 12px;
	padding: 10px;
	float: right;
}


.footer {	
    border-top: 2px solid #b7a600;
    clear: both;
    width: 100%;
}


/******** HEADER *****************/

.header{	
	width:100%;
	height:130px;
	margin: 0;
	background-color : #fffdea;
}

.header_left{
	width:150px;
	display:inline-block;
}

.header_center{
	
	margin: 0 auto;
	width:600px;
}

.logo_gk{
	width:600px;
	display:inline-block;
}

.header_right {
	width:300px;
	display:inline-block;
}

.logo_wi{
	font-size:80px;
	color : #B7A600;
}

.logo_bo{
	font-size:80px;
	color: #000080;
}

.logo_withoutborder{
	font-size:15px;
	color: #B76900;
}

