.resultcontainer{
	margin-top : 10px;
}

.resultcontainertitle{
	color : #1E0FBE;
}

.resultcontainerlink{
	color : #006621;
}

.resultcontainerhightlight{
	font-style : italic;
font-size : 14px;
}

#searchContainer{
	
}

#searchInput{
	font-size : 21px;
}

#resultsContainer#
}
