
<script type="text/template" id="search-result-template" >
    {{ _.each(results, function(result) { }}
      <div class="resultcontainer" >
        <div class="resultcontainertitle" ><a href="{{= result.url }}" > {{= result.title }} </a></div>
        <div class="resultcontainerlink" >{{= result.url }}</div>
	<div class="resultcontainerhightlight" >{{= result.highlight }}</div>
      </div>
    {{ }); }}  
</script>


<script type="text/javascript" >
var search_manager = null;
$(function (){
	_.templateSettings = {
    		interpolate: /\{\{\=(.+?)\}\}/g,
    		evaluate: /\{\{(.+?)\}\}/g
	};
	search_manager = new searchManager('resultsContainer');	
	var query = getUrlVars()['q'];
	if (query != null && query != undefined)
	{
		$('#searchInput').val(query);
		search_manager.search(query);
	}

	$('#searchInput').keyup(function (){
		query = $('#searchInput').val();		 
		search_manager.search(query);
	});
});
	


function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
</script>
<div id="searchContainer">
	<input id="searchInput"></input>
</div> 
<div id="resultsContainer">		
</div> 

