<script type="text/template" id="search-results-container-template" >
    	<div class="headerinformation" ></div> 
    	<div class="results" ></div> 
</script>

<script type="text/template" id="search-results-loadmore-template" >
    <div id="loadMoreContainer" >
        <div id="loadMore" class="loadMore loadMore_plus" ></div>
    </div> 
</script>

<script type="text/template" id="hostresult-container-template" >
    <div class="articleContainer"  >
	<div class="hostContent"></div>
	<div class="footer"> 	
		<div class="hostResultontainer-more" style="display:none" >display all following results (<span class="resultNumber" >1</span>) from <span class="hostName" ></span>
		</div> 
	</div>
    </div> 
</script>

<script type="text/template" id="search-result-template" >   
      <div class="resultcontainer hostResultontainer hostContent"  >
 	<div class="resultcontainerhost" > <i>{{= result.host }}</i> </div>
	<div class="resultcontainerdate" > <i>{{= result.post_date }}</i> </div>
	{{ if (result.customRelevance > 1) { }}
	<div class="resultcontainecustomrelevance" > has been recommended </div>
	{{ } }}
        <div class="resultcontainertitle" ><a href="{{= result.url }}" > {{= result.title }} </a></div>
	{{ if (result.image != null) { }}
	<div class="resultcontainerimage" > <img src="{{= result.image }}" width="236" alt="image" ></img> </div>
	{{ } }}
	<div class="resultcontainerscore" > <i>{{= result.score }}</i> </div>
	<div class="resultcontainerinfo"><div class="resultcontainerinfonode resultcontainerinfonode_updatepending" urlref="{{= result.url }}" ></div></div>
	<div class="resultcontaineraction"><div class="recommend" sourceid="{{= result.ID }}" >recommend</div></div>
        <!--<div class="resultcontainerlink" >{{= result.url }}</div>-->
	<div class="resultcontainerhightlight" >{{= result.highlight }}</div>	
      </div>
</script>

<script type="text/template" id="search-results-news-template" >
	<div class="newstemplatecontent" >      	
		<div class="newstitle" >{{= node.name }}</div>
		<div class="newscontent" >{{= node.comment }}</div>
		<div class="newsurls" >
		<div> Check out these urls : </div>
			{{ _.each(node.associatedUrls, function(url) { }}
			<div>{{= url }}</div>
			{{ }); }} 
		</div>
</script>

<script type="text/javascript" >
var search_manager = null;
var ressource_manager = null;
$(function (){
	initPage();
	_.templateSettings = {
    		interpolate: /\{\{\=(.+?)\}\}/g,
    		evaluate: /\{\{(.+?)\}\}/g
	};
	search_manager = new searchManager('resultsContainer');	
	ressourcenode_manager = new ressourceNodesManager();
	//ressourcenode_manager.getCurrentRessourceNode();
	//search_manager.on(search_manager.UPDATEUI_COMPLETE, ressourcenode_manager.updateRessourceDisplayed, ressourcenode_manager);

	var query = getUrlVars()['q'];
	if (query != null && query != undefined)
	{
		$('#searchInput').val(query);
		search_manager.search(query);
	}

	$('#backLabel').click(function (){
		$('#resultsContainer').html('');
		$('#newsContainer').show();
		$('#searchInput').val('');		
		$('#backLabel').hide();
	});

	$('#startSearch').click(function (){
		$('#resultsContainer').show();
		$('#newsContainer').hide();
		$('#backLabel').show();
		query = $('#searchInput').val();		 
		search_manager.search(query);
	});

	
});

function initPage(){
	$(".content").css('height', $(document).height() - 130 - 55 + 'px');
	$(".content").jqxSplitter({ width:"99%", height: $(document).height() - 130 - 55, splitBarSize : 15 } );
	$(".content_left").css('width', '910px');
	$(".content").on('expanded', function (event){  });
	$(".content").on('collapsed', function (event){  });
	
	/*$('.expand').bind('click', function (e){ 
		$(".content").jqxSplitter('expand');
	});
	$('.collapse').bind('click', function (e){ 
		$(".content").jqxSplitter('collapse');
	});*/
}


function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

$(document).ready(function(){
    $('#searchInput').bind('keypress',pressed);
});

function pressed(e)
{
    if(e.keyCode === 13)
    {
        $('#resultsContainer').show();
	$('#newsContainer').hide();
	$('#backLabel').show();
	query = $('#searchInput').val();		 
	search_manager.search(query);
        //put button.click() here
    }
}
</script>

<div class="header">
	<div class="header_left"></div>
	<div class="header_center">
		<div class="logo_gk" ><span class="logo_wi" >WI</span><span class="logo_bo" >BO</span><span class="logo_withoutborder">Information without borders</span></div>
	</div>
	<div class="header_right">
		
	</div>
</div>
<div class="content" >
	<div class="splitter_left" >
	<div class="content_left" >
		<div class="edito" >
			<div class="edito_title">Edito</div>
			<div class="edito_body">
In the time of globalization, of revolution of  information and communications tools, the national borders become blurred.
The history and the new technologies are underway. At the same time, we observe that nationalist, violent pushes, re-appear.
Against these resurgent nationalisms, a world citizenship has to emerge, an international awareness, to give to the globalization other priorities that circulation of financial fluxs, goods and dumping in employment.
This citizenship passes by a master's degree of information sources. Each in our borders let us receive echo of a speech with internal vocation. The French media speak to the French people, the Algerian media to the Algerians, the American media to the Americans, the Israeli media to the Israelis etc.... But what says the other one, on the other side of the ocean or of the border ?
Our site, allows to reach several information sources in the world, from keywords and from theme of research. GK is a site in movement, it is not congealed, his(her) users are possible develop it by proposing other sources.
The internationalism was one of beautiful utopias of the XIXem century, broken, one century ago, on the massacres of the World War I.
The globalization is the internationalization of goods and business, GK wants to contribute to develop for the largest number, the internationalization of ideas and consciousnesses.</div>		
		</div>
<div class="inter_div_right" > </div>
		<div class="focus" >
			<div class="focus_header" >Focus</div>
			<div class="focus_main" >
				<div class="focus_slide" >

<div class="focus_content" > 

	<div class="focus_text" > Focus SLIDE Focus SLIDE Focus SLIDE Focus SLIDE  Focus SLIDE  Focus SLIDE   Focus SLIDE  Focus SLIDE   Focus SLIDE   Focus SLIDE  
	 Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE  v
	 Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE  
	 Focus SLIDE   Focus SLIDE   Focus SLIDE   Focus SLIDE
	</div>

	<div class="focus_references" >
		<div class > references :</div>
		<div class="focus_reference" ><a href="http://perspektives.org">  http://perspektives.org </a></div>
	</div>

	</div> 

				</div>
			</div>		
		</div>
	</div>
	</div>
	<div class="splitter_right" >
	
		<div class="content_search" >
				<div class="content_search_input" >
					<input id="searchInput"></input>
					<select id="langselect">
						<option value="all" >all languages</div>
						<option value="fr" >Français</div>
						<option value="en" >English</div>
						<option value="de" >Deutsch</div>
					</select> 	
					<div class="look" id="startSearch" >Take a look</div>			
				</div>
			 	<div class="content_search_result" >
					<div class="loading_result"  > <img src='/assets/loading.gif' /> </div>
					<div id="resultsContainer" style="display:none;">	
					</div>				
				</div>	
		</div>
	</div>
</div>
<div class="footer" ><div class='basicfooter' > Contact | powered by Rails </div></div>

