<script type="text/template" id="search-results-container-template" >
    	<div class="headerinformation" ></div> 
    	<div class="results" ></div> 
</script>

<script type="text/template" id="search-results-loadmore-template" >
    <div id="loadMoreContainer" >
        <div id="loadMore" class="loadMore loadMore_plus" ></div>
    </div> 
</script>

<script type="text/template" id="hostresult-container-template" >
    <div class="articleContainer"  >
	<div class="hostContent"></div>
	<div class="footer"> 	
		<div class="hostResultontainer-more" style="display:none" >display all following results (<span class="resultNumber" >1</span>) from <span class="hostName" ></span>
		</div> 
	</div>
    </div> 
</script>

<script type="text/template" id="search-result-template" >   
      <div class="resultcontainer hostResultontainer hostContent"  >
 	<div class="resultcontainerhost" > <i>{{= result.host }}</i> </div>
	<div class="resultcontainerdate" > <i>{{= result.post_date }}</i> </div>
	{{ if (result.customRelevance > 1) { }}
	<div class="resultcontainecustomrelevance" > has been recommended </div>
	{{ } }}
        <div class="resultcontainertitle" ><a href="{{= result.url }}" > {{= result.title }} </a></div>
	{{ if (result.image != null) { }}
	<div class="resultcontainerimage" > <img src="{{= result.image }}" width="236" alt="image" ></img> </div>
	{{ } }}
	<div class="resultcontainerscore" > <i>{{= result.score }}</i> </div>
	<div class="resultcontaineraction"><div class="recommend" sourceid="{{= result.ID }}" >recommend</div></div>
	<div class="resultcontainerinfo"><div class="resultcontainerinfonode resultcontainerinfonode_updatepending" urlref="{{= result.url }}" ></div></div>
	
        <!--<div class="resultcontainerlink" >{{= result.url }}</div>-->
	<div class="resultcontainerhightlight" ></div>	
      </div>
</script>

<script type="text/template" id="focus-template" >   
	<div class="focus_content {{= style_class }}" >
		<div class="focus {{=  style_class=='focus_pair' ? 'focus_left' : 'focus_right' }}">
		
		
		
		<div class="focus_inner"  >
		
			{{ if (style_class=='focus_impair') { }}   
      	
      	<div class="subcontent_left" >
      				<div class="focus_reference"  >      	
							{{ _.each(focus.sources, function(source) { }}     
							<div><a href="{{= source.url }}">{{= source.title }}</a></div>	
							{{ }); }}  
      				</div>
      			
      				{{ if (focus.image_url != null) { }}
      				<div class="focus_image_left" >
      					<img src="{{= focus.image_url }}"  />
      				</div>
      				{{ } }} 
      	
      	
      			
      	</div>
      	
      	<div class="content_right" >
      		<div class="focus_title"  >{{= focus.title }}</div>
      		<div class="focus_text"  >{{= focus.content }}</div>
      	</div>
      	
      	
      	{{ } }}
      	{{ if (style_class=='focus_pair') { }}   
      	<div class="content_left" >
      		<div class="focus_title"  >{{= focus.title }}</div>
      		<div class="focus_text"  >{{= focus.content }}</div>
      	</div>
      	
      	<div class="subcontent_right" >
      			<div class="focus_reference"  >      	
							{{ _.each(focus.sources, function(source) { }}     
							<div><a href="{{= source.url }}">{{= source.title }}</a></div>	
							{{ }); }}  
      			</div>
      			
      				{{ if (focus.image_url != null) { }}
      				<div class="focus_image_left" >
      					<img src="{{= focus.image_url }}"  />
      				</div>
      				{{ } }} 
      	
      	
      		
      	</div>      	  	
      	
      	{{ } }}
      	
      </div>  
      
      	
      </div><div class="clearfix" ></div>
      </div>
</script>

<script type="text/template" id="search-results-news-template" >
	<div class="newstemplatecontent" >      	
		<div class="newstitle" >{{= node.name }}</div>
		<div class="newscontent" >{{= node.comment }}</div>
		<div class="newsurls" >
		<div> Check out these urls : </div>
			{{ _.each(node.associatedUrls, function(url) { }}
			<div>{{= url }}</div>
			{{ }); }} 
		</div>
</script>

<script type="text/javascript" >
var search_manager = null;
var ressource_manager = null;
$(function (){
	initPage();
	_.templateSettings = {
    		interpolate: /\{\{\=(.+?)\}\}/g,
    		evaluate: /\{\{(.+?)\}\}/g
	};
	search_manager = new searchManager('resultsContainer');	
	ressourcenode_manager = new ressourceNodesManager();
	search_manager.on(search_manager.UPDATEUI_COMPLETE, ressourcenode_manager.updateRessourceDisplayed, ressourcenode_manager);	
			
	try{
        	ressourcenode_manager.getLastCreatedRessourceNode(10);
	}
	catch (e){
	}

	var query = getUrlVars()['q'];
	if (query != null && query != undefined)
	{
		$('#searchInput').val(query);
		search_manager.search(query);
	}

	$('#backLabel').click(function (){
		$('#resultsContainer').html('');
		$('#newsContainer').show();
		$('#searchInput').val('');		
		$('#backLabel').hide();
	});

	$('#startSearch').click(function (){
		$('#resultsContainer').show();
		$('#newsContainer').hide();
		$('#backLabel').show();
		query = $('#searchInput').val();		 
		search_manager.search(query);
	});

	
});

var isCollapsed = false;
function initPage(){
	//$(".content").css('height', $(document).height() - 130 - 100 + 'px');
	var panelwidthRight = $(document).width() * (75/100);
	var panelwidthLeft = $(document).width() * (25/100);
	/*$(".content").jqxSplitter(
	{ 
		width:"99%", 
		height: $(document).height() - 130 - 35, 
		splitBarSize : 0.5,
		resizable : false,
		panels: [{ size: panelwidthLeft }, { size: panelwidthRight}]	
	} );
	//$(".content_left").css('width', '910px');
	$(".content").on('expanded', function (event){ 
		$('.expand img').attr('src','/assets/left_grey.png'); 
		$('.expand').css('margin-left', '-13px');
		isCollapsed = false; 
	});

	$(".content").on('collapsed', function (event){ 
		$('.expand img').attr('src','/assets/right_grey.png');
		$('.expand').css('margin-left', '-10px');
		isCollapsed = true; 
	});
	
	$('.expand').bind('click', function (e){ 
		if (isCollapsed)
		{				
			$(".content").jqxSplitter('expand');
		}
		else{
			$(".content").jqxSplitter('collapse');		
		}
	});
	*/
	/*$('.collapse').bind('click', function (e){ 
		$(".content").jqxSplitter('collapse');
	});*/
}


function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

$(document).ready(function(){
    $('#searchInput').bind('keypress',pressed);
});

function pressed(e)
{
    if(e.keyCode === 13)
    {
        $('#resultsContainer').show();
	$('#newsContainer').hide();
	$('#backLabel').show();
	query = $('#searchInput').val();		 
	search_manager.search(query);
        //put button.click() here
    }
}
</script>

<div class="header">
	<div class="header_left"></div>
	<div class="header_center">
		<div class="logo_gk" ><span class="logo_wi" >WI</span><span class="logo_bo" >BO</span><span class="logo_withoutborder">Information without borders</span></div>
	</div>
	<div class="header_right">
		
	</div>
</div>
<div class="content" >
<div class="content_search" >
				<div class="content_search_input" >
					<input id="searchInput"></input>
					<div class="look" id="startSearch" ></div>	
					<select id="langselect">
						<option value="all" >all languages</option>
						<option value="fr" >Français</option>
						<option value="en" >English</option>
						<option value="de" >Deutsch</option>
					</select> 	
							
				</div>
			 	<div class="content_search_result" >
					<div class="loading_result"  > <img src='/assets/loading.gif' /> </div>
					<div id="resultsContainer" style="display:none;">	
					</div>				
				</div>	
		</div>
	
	<div class="content_middle" >
		<div class="edito" >
			<span class="edito_title">Citizens of the world</span>
			<span class="edito_body">
<span>The globalization is internationalization of goods and business, Wibo wants to contribute to develop internationalization of ideas and informations. It s both a search tool and an idea that consists to make us citizens of the world.  Each in our borders let us receive echo of a speech with internal vocation. The French media speak to the French people, the Algerian media to the Algerians, the American media to the Americans, the Israeli media to the Israelis etc.... </span><br />
<span>National borders become blurred by revolution of information and communications tools. But, we observe that nationalism, violent pushes, re-appear. Against these resurgent, a world citizenship has to emerge, an international awareness, to give to the globalization other priorities that circulation of financial fluxs, goods and dumping in employment.</span><br />
<span>This citizenship passes by a master's degree of information sources.  What says the other one, on the other side of the ocean or of the border ? Our site, allows to reach different and sometimes contradictory information sources.</span> </span>		
		</div>
<div class="inter_div_right" > </div>
		
	</div>
	
	<!--<div class="focus_header_title">
		<div>Focus</div>	
	</div>-->
	
<div class="content_bottom" >
	

<div class="focuses_content" > 

	

	</div> 

			
		
	
</div>
<div class="footer" ><div class='basicfooter' >powered by Rails </div></div>

